<div id="<%= dom_id gio_hang %>">
  <p>
    <strong>Nguoidung:</strong>
    <%= gio_hang.nguoidung_id %>
  </p>

  <p>
    <strong>Sach:</strong>
    <%= gio_hang.sach_id %>
  </p>

  <p>
    <strong>Anhminhhoa:</strong>
    <%= gio_hang.AnhMinhHoa %>
  </p>

  <p>
    <strong>Tensach:</strong>
    <%= gio_hang.TenSach %>
  </p>

  <p>
    <strong>Gia:</strong>
    <%= gio_hang.Gia %>
  </p>

  <p>
    <strong>Danh muc:</strong>
    <%= gio_hang.danh_muc_id %>
  </p>

  <p>
    <strong>Soluong:</strong>
    <%= gio_hang.soluong %>
  </p>

  <p>
    <strong>Thanhtien:</strong>
    <%= gio_hang.thanhtien %>
  </p>

</div>
