<%= stylesheet_link_tag 'edit_profile' %>

<p style="color: green"><%= notice %></p>
<body>
<%= form_for @profile, url: profile_path(@profile), html: { method: :put, enctype: 'multipart/form-data', class: 'form_edit' } do |f| %>
  <h1 style = "margin-top : 10px; text-align: center">Chỉnh sửa thông tin cá nhân</h1>
  <br>
  <hr>
  <table class="thongtin-edit">
    <tr class="form-group">
      <th><label for="ten_nd">Tên người dùng:</label> <span style="color: red;">*</span></th>
      <td colspan="4"><%= f.text_field :TenND, class: 'form-control', id: 'ten_nd', required: true %></td>
    </tr>
    <tr class="form-group">
      <th><label for="anh_dai_dien">Ảnh đại diện</label></th>
      <td colspan="2"><%= f.file_field :AnhDaiDien, class: 'form-control-file', id: 'anh_dai_dien' %></td>
    </tr>
    <tr class="form-group">
      <th><label for="email">Email:</label><span style="color: red;">*</span></th>
      <td><%= f.email_field :Email, class: 'form-control', id: 'email', placeholder: 'Nhập Email của bạn', required: true %></td>
      <th><label for="sdt">Số điện thoại:</label><span style="color: red;">*</span></th>
      <td><%= f.number_field :SDT, class: 'form-control', id: 'sdt', min: 0, required: true %></td>
    </tr>
    <tr class="form-group">
      <th><label for="mat_khau">Mật khẩu:</label><span style="color: red;">*</span></th>
      <td><%= f.text_field :MatKhau, class: 'form-control', id: 'mat_khau', required: true %></td>
      <th><label for="loai_quyen"  style="color: red; display:none">Loại quyền:</label></th>
      <td><%= f.hidden_field :loai_quyen_id %></td>
    </tr>
    <tr class="form-group">
      <th><label for="dia_chi">Địa chỉ:</label><span style="color: red;">*</span></th>
      <td colspan="4"><%= f.text_field :DiaChi, class: 'form-control', id: 'dia_chi', required: true %></td>
    </tr>
    <tr class="form-group">
      <td colspan="4"><%= f.submit 'Cập nhật', class: 'Edit_canhan' %></td>
    </tr>
  </table>
<% end %>

</body>